{% extends 'recipeapp/base.html' %}

{% block title %}О себе{% endblock %}

{% block content %}
    <h3>О себе</h3>
    <p>Меня зовут Сергиенко Павел. Я студент курса "Разработчик Python" в GeekBrains.</p>
    <p>Это мой итоговый проект по данному курсу.</p>
    <p>Для разработки сайта я использовал фреймворк Django.</p><br>
    <h4>Задание:</h4>
    <p>Используя фреймворк Django создайте сайт, на котором пользователи смогут
    добавлять свои рецепты блюд и просматривать рецепты других пользователей.</p><br>
{% endblock %}
