{% extends 'recipeapp/base.html' %}

{% block title %} Категории {% endblock %}

{% block content %}
    <h2>Категории рецептов</h2>
    <nav class="nav1 navbar navbar-expand-lg navbar-light bg-light" style="gap: 20px;">
        <a href="{% url 'recipeapp/category_add' %}">Добавить</a>
    </nav>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td><a href = "{% url 'recipeapp/category' category.pk %}">{{ category.pk }}</a></td>
                <td> {{ category.name }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


