{% extends 'recipeapp/base.html' %}

{% block title %} Рецепт. Подробно {% endblock %}

{% block content %}
    <h3>Рецепт. Подробно</h3>
    <nav class="nav1 navbar navbar-expand-lg navbar-light bg-light" style="gap: 20px;">
        <a href="{% url 'recipeapp/recipe_add' %}">Добавить</a>
        <a href = "{% url 'recipeapp/recipe_edit' recipe.pk %}">Редактировать</a>
        <a href="{% url 'recipeapp/recipe_del' recipe.pk %}">Удалить</a>
    </nav>
    <h4>Название: {{ recipe.name }}.</h4>
    <h5>Автор: {{ recipe.author }}. </h5>
    <p>Описание: {{ recipe.description }}. </p>
    <img src={{ recipe.foto.url }} width="500px">
    <p>Категория:</p>
        <ul>
        {% for category in recipe.categories.all %}
            <li> {{ category.name }}. </li>
        {% endfor %}
        </ul>
    <p>Ингредиенты:</p>
        <ol>
        {% for ingredient in recipe.ingredients.all %}
            <li> {{ ingredient.name }}. </li>
        {% endfor %}
        </ol>
    <p>Шаги приготовления:</p>
        <ol>
        {% for step in recipe.steps.all %}
            <li> {{ step.desc }}. </li>
        {% endfor %}
        </ol>
{% endblock %}


